docs/n8n/sales-ops-lead-runner.json
{
  "id": "SalesOpsLeadRun1",
  "name": "Sales Ops — scheduled lead runner",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "a1111111-1111-4111-8111-111111111111",
      "name": "Every 15 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.API_BASE_URL }}/api/leads",
        "options": {}
      },
      "id": "b2222222-2222-4222-8222-222222222222",
      "name": "Get Leads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "e5555555-5555-4555-8555-555555555555",
              "leftValue": "={{ $json.stage }}",
              "rightValue": "New",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "c3333333-3333-4333-8333-333333333333",
      "name": "Only New Leads",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.API_BASE_URL }}/api/leads/{{ $json.id }}/run",
        "options": {}
      },
      "id": "d4444444-4444-4444-8444-444444444444",
      "name": "Trigger Run",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        300
      ]
    }
  ],
  "connections": {
    "Every 15 min": {
      "main": [
        [
          {
            "node": "Get Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Leads": {
      "main": [
        [
          {
            "node": "Only New Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Only New Leads": {
      "main": [
        [
          {
            "node": "Trigger Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {},
  "tags": []
}
